.visitorTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: #fff;
}


.visitorTable th {
  border-bottom: 4px solid #E9E9E9;
  font-size: 15px;
  text-align: start;
}

.visitorTable td {
  vertical-align: middle;
}

.visitorTable td:nth-child(5) {
  text-align: center;
}
.visitorTable td,
.visitorTable th {
  height: 60px;
}

