.visitorForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0 0 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.formLabel {
  width: 50%;
  display: flex;
  align-items: center;
}

.formInput {
  width: 50%;
  display: flex;
  align-items: center;
}

.formInput input,
.formInput select {
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.formInput input[type="checkbox"] {
  width: auto;
  margin-left: 0;
}



.formActions {
  display: flex;
  gap: 10px;
  padding: 20px 0 0 0;
  justify-content: center;
}

.formActions button[type="submit"] {
  background-color: #4caf50;
  color: white;
  transition: transform 0.2s ease;
}

.formActions button[type="submit"]:hover {
  background-color: #3b8b3f;
}

.deleteButton {
  background-color: #EC5937;
  color: white;
}
.deleteButton:hover {
  background-color: #bd4227;
}
.closeButton {
  background-color: #737373;
  color: white;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  background-color: #5e5e5e;
}