.visitorTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: #fff;
}


.visitorTable th {

  font-weight: bold;
  border-bottom: 4px solid #E9E9E9;
}

.visitorTable td {
  vertical-align: middle;
}

.visitorTable td:nth-child(5) {
  text-align: center;
}